@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

:root {
  --ff-body: 'Noto Sans', sans-serif;
  --c-lightgray: #e5e5e5;
  --c-number: #efe2d0;
  --c-equal: #ef7b5a;
  --c-operator: #475c6b;
}

/* reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* <-- reset */

body {
  font-family: var(--ff-body);
  background-color: var(--c-lightgray);
}

button {
  background-color: var(--c-number);
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 109%;
  cursor: pointer;

  transition: 0.1s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.calculator {
  width: 100%;
  min-height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.line {
  border-top: 3px solid #ededed;
  margin: 1rem 0 2rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.buttons > button:active {
  transform: scale(0.95);
}

.null {
  grid-area: 5 / 1 / 6 / 3;
}

.equal {
  background-color: var(--c-equal);
  color: white;
}

.operator {
  background-color: var(--c-operator);
  color: white;
}

.expression {
  font-size: 1.1rem;
}

.result {
  font-weight: 600;
  font-size: 3rem;
  line-height: 109%;
}

@media (width >= 30em) {
  .calculator {
    width: 375px;
    min-height: 812px;
    outline: 16px solid #fff;
    border-radius: 24px;
  }
}
